.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    font-weight: bold;
    color: #333;
}

body[data-theme="dark"] .markdown h1,
body[data-theme="dark"] .markdown h2,
body[data-theme="dark"] .markdown h3,
body[data-theme="dark"] .markdown h4,
body[data-theme="dark"] .markdown h5,
body[data-theme="dark"] .markdown h6 {
    color: #fff;
}

.markdown h1 {
    font-size: 4em;
    margin: 0.67em 0;
    line-height: 1;
}

.markdown h2 {
    font-size: 2em;
    margin: 0.83em 0;
    line-height: 1;
}

.markdown h3 {
    font-size: 1.33em;
    margin: 0.5em 0;
    line-height: 2.25rem;

}

.markdown h4 {
    font-size: 1.17em;
    margin: 1.33em 0;
    line-height: 1;

}

.markdown h5 {
    font-size: 1em;
    margin: 1.67em 0;
    line-height: 1;
}

.markdown h6 {
    font-size: 0.83em;
    margin: 2.33em 0;
    line-height: 1;
}

.markdown p {
    margin: .2em 0;
    line-height: 1.5rem;
}

.markdown p,
.markdown li {
    display: inline;
}

.markdown blockquote {
    margin: 1em 0;
    padding: 0 1em;
    border-left: 0.25em solid #ddd;
}

.markdown ul {
    margin: 0.5em 0 0.5em 0.75em;
}

.markdown li {
    display: block;
    margin: 0.5em 0.1em;
    transform: translateX(1em);
}

.markdown li:before {
    content: "-" !important;
    position: relative;
    display: inline;
    margin-left: -1em;
    margin-right: 0.5em;
}

.markdown code {
    font-family: 'JetBrains Mono', monospace;
    margin: 0 .1rem;
    padding: 0.1em 0.3em;
}

.markdown pre code:not(.hljs) {
    text-wrap: wrap;
    background-color: unset;
}

.markdown img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
}

.markdown code.hljs {
    color: #000;
}

body[data-theme="dark"] .markdown code.hljs {
    color: #fff;
}

.markdown code:not(.hljs) {
    background-color: #ddd;
    border-radius: 0.4em;
}

body[data-theme="dark"] .markdown code:not(.hljs) {
    background-color: #444;
}

body[data-theme="dark"] .markdown pre code {
    background-color: #000;
}

