@font-face {
    font-family: 'Sohne';
    src: url('../resources/fonts/Sohne.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.font-sohne {
    font-family: Helvetica Neue, Helvetica, sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 1 forwards;
}


.header-grid {
    display: grid;
    align-items: center;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    grid-template-columns: minmax(70px, 1fr) auto minmax(70px, 1fr);
    grid-template-rows: 1fr;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    font-family: 'Sohne', sans-serif;
    width: 100dvw;
    height: 100dvh;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
}

.content-container,
.sidebar {
    display: flex;
}


.content-container {
    border: 1px solid rgba(5, 5, 6, .1);
    background-color: rgb(251 250 253);
}

.content-container.hoverable {
    transition: background-color .3s ease-in-out;
}

.content-container.hoverable:hover {
    cursor: pointer;
    background-color: rgb(229 231 235);
}

.apply-stroke {
    stroke: #fff;
}

body[data-theme="dark"] {
    background-color: #141417;
    color: #dad7d7;
}

body[data-theme="dark"] .content-container {
    border-color: #3c3f44;
    background-color: #1b1b1f;
}

body[data-theme="dark"] .content-container.hoverable:hover {
    background-color: rgb(29 29 31);
}

body[data-theme="dark"] .apply-stroke {
    stroke: #fff;
}
