@font-face {
    font-family: 'SK Modernist';
    src: url('../resources/fonts/SK Modernist.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Grotesk Neue';
    src: url('../resources/fonts/Grotesk Neue Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.font-sk-modernist {
    font-family: 'SK Modernist', sans-serif;
}

.font-grotesk-neue {
    font-family: /*'SK Modernist', */ 'Grotesk Neue', Helvetica Neue, Helvetica, sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 1 forwards;
}


.header-grid {
    display: grid;
    align-items: center;
    margin-top: 16px;
    grid-template-columns: minmax(70px, 1fr) auto minmax(70px, 1fr);
    grid-template-rows: 1fr;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    font-family: 'Sohne', sans-serif;
    width: 100dvw;
    height: 100dvh;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
}

.content-container,
.sidebar {
    display: flex;
}


.content-container {
    background-color: rgb(239, 237, 241);
}

.content-container.hoverable:focus {
    outline: none;
}

.content-container.hoverable:hover,
.content-container.hoverable:focus {
    cursor: pointer;
    background-color: rgb(226, 224, 227);
}

.special-border,
.hover-special-border:hover,
.content-container.hoverable:hover,
.content-container.hoverable:focus,
.content-container.selectable:has(:focus) {
    border-color: rgb(61, 94, 152);
}

.apply-stroke {
    stroke: #000;
}
.bg-secondary {
    background-color: #fafbfd;
}
body[data-theme="dark"] .bg-secondary {
    background-color: rgb(18 18 22)
}

body[data-theme="dark"] {
    background-color: #0d0d11;
    color: #dad7d7;
}

body[data-theme="dark"] .content-container {
    border-color: transparent; /*#282a2d;*/
    background-color: #131316;
}

body[data-theme="dark"] .content-container.hoverable:hover,
body[data-theme="dark"] .content-container.hoverable:focus {
    background-color: rgb(30, 30, 38);
}

body[data-theme="dark"] .apply-stroke {
    stroke: #fff;
}


.h-gradient-clip {
    mask-image: linear-gradient(180deg, transparent 1%, #000 8%, #000 92%, transparent 99%);
}

